<ul class="pagination">

## remove this to enable use of them outside this template
    #set($useIcons=false) ## use icons instead of words like 'Next'
    #set($disableNotHide=false) ## render disabled buttons instead of omitting them

## the first page
    #if($CONTROLLER.searchResult.pageIndex > 0)
        #set($link=$REQUEST.getUriInfo().getRequestUriBuilder().replaceQueryParam($CONSTANTS.blocks.imports.search.SEARCH_PARAM_INDEX, 0))
        <li class="first"><a href="$link">
            #if($useIcons)
                <i class="fa fa-angle-double-left"></i>
            #{else}
                <i class="fa fa-angle-double-left"></i> $MESSAGES.blocks.imports.search.boxResultFirst
            #end
        </a></li>
    #else
        #if($disableNotHide)
            <li class="first disabled"><a>#if($useIcons)<i class="fa fa-angle-double-left"></i>#{else}$MESSAGES.blocks.imports.search.boxResultFirst#end</a></li>
        #end
    #end

## the previous page
    #set($index=$CONTROLLER.searchResult.pageIndex - 1)
## Note: we don't print the previous button if it's the 'same' as the first button
    #if($CONTROLLER.searchResult.pageIndex > 0 && $index != 0)
        #set($link=$REQUEST.getUriInfo().getRequestUriBuilder().replaceQueryParam($CONSTANTS.blocks.imports.search.SEARCH_PARAM_INDEX, $index))
        <li class="previous"><a href="$link">
            #if($useIcons)
                <i class="fa fa-angle-left"></i>
            #{else}
                <i class="fa fa-angle-left"></i> $MESSAGES.blocks.imports.search.boxResultPrevious
            #end
        </a></li>
    #else
        #if($disableNotHide)
            <li class="previous disabled"><a>
                #if($useIcons)
                    <i class="fa fa-angle-left"></i>
                #{else}
                    <i class="fa fa-angle-left"></i> $MESSAGES.blocks.imports.search.boxResultPrevious
                #end
            </a></li>
        #end
    #end

    ##Note: we assume $maxPageIdx is set by the parent template

    #set($PAGE_WINDOW_SIZE=10)
    #set($halfPageSize=$TOOLKIT.math.floor($TOOLKIT.math.div($PAGE_WINDOW_SIZE, 2)))
    #set($startPageIdx=$CONTROLLER.searchResult.pageIndex - $halfPageSize)
    #set($endPageIdx=$CONTROLLER.searchResult.pageIndex + $halfPageSize)

## on top of the left and right part, we always have the current page, so advance the left half one more (to show more of what's coming) if the size is even
    #if ($TOOLKIT.math.mul($halfPageSize, 2)==$PAGE_WINDOW_SIZE)
        #set($startPageIdx=$startPageIdx+1)
    #end

    #if ($startPageIdx<0)
    ## end calculations are off now; adjust them before setting to final value (minus a negative number is plus)
        #set($endPageIdx=$endPageIdx - $startPageIdx)
        #set($startPageIdx=0)
    #end

    #if ($endPageIdx>$maxPageIdx)
    ## start calculations are off now; adjust them before setting to final value
        #set($startPageIdx=$startPageIdx - ($endPageIdx - $maxPageIdx))
        #if ($startPageIdx<0)
            #set($startPageIdx=0)
        #end

        #set($endPageIdx=$maxPageIdx)
    #end

    #foreach($i in [$startPageIdx..$endPageIdx])
    ## Note: zero-based index
        #set($index=$i)
        #set($link=$REQUEST.getUriInfo().getRequestUriBuilder().replaceQueryParam($CONSTANTS.blocks.imports.search.SEARCH_PARAM_INDEX, $index))
        #set($label=$i + 1)
        #if ($index==$CONTROLLER.searchResult.pageIndex)
            <li class="active"><a href="$link">$label</a></li>
        #else
            <li><a href="$link">$label</a></li>
        #end
    #end

## the last page (this is a double of the one below to activate in xs mode because the order is reversed because of float right)
    #if($CONTROLLER.searchResult.totalHits > $lastIndex)
        #set($link=$REQUEST.getUriInfo().getRequestUriBuilder().replaceQueryParam($CONSTANTS.blocks.imports.search.SEARCH_PARAM_INDEX, $maxPageIdx))
        <li class="last last-float"><a href="$link">
            #if($useIcons)
                <i class="fa fa-angle-double-right"></i>
            #{else}
                $MESSAGES.blocks.imports.search.boxResultLast <i class="fa fa-angle-double-right"></i>
            #end
        </a></li>
    #else
        #if($disableNotHide)
            <li class="last last-float disabled"><a>
                #if($useIcons)
                    <i class="fa fa-angle-double-right"></i>
                #{else}
                    $MESSAGES.blocks.imports.search.boxResultLast <i class="fa fa-angle-double-right"></i>
                #end
            </a></li>
        #end
    #end

## the next page
    #set($index=$CONTROLLER.searchResult.pageIndex + 1)
    ## Note: we don't print the next button if it's the 'same' as the last button
    #if($CONTROLLER.searchResult.totalHits > $lastIndex && $index != $maxPageIdx)
        #set($link=$REQUEST.getUriInfo().getRequestUriBuilder().replaceQueryParam($CONSTANTS.blocks.imports.search.SEARCH_PARAM_INDEX, $index))
        <li class="next"><a href="$link">
            #if($useIcons)
                <i class="fa fa-angle-right"></i>
            #{else}
                $MESSAGES.blocks.imports.search.boxResultNext <i class="fa fa-angle-right"></i>
            #end
        </a></li>
    #else
        #if($disableNotHide)
            <li class="next disabled"><a>
                #if($useIcons)
                    <i class="fa fa-angle-right"></i>
                #{else}
                    $MESSAGES.blocks.imports.search.boxResultNext <i class="fa fa-angle-right"></i>
                #end
            </a></li>
        #end
    #end

## the last page
    #if($CONTROLLER.searchResult.totalHits > $lastIndex)
        #set($link=$REQUEST.getUriInfo().getRequestUriBuilder().replaceQueryParam($CONSTANTS.blocks.imports.search.SEARCH_PARAM_INDEX, $maxPageIdx))
        <li class="last"><a href="$link">
            #if($useIcons)
                <i class="fa fa-angle-double-right"></i>
            #{else}
                $MESSAGES.blocks.imports.search.boxResultLast <i class="fa fa-angle-double-right"></i>
            #end
        </a></li>
    #else
        #if($disableNotHide)
            <li class="last disabled"><a>
                #if($useIcons)
                    <i class="fa fa-angle-double-right"></i>
                #{else}
                    $MESSAGES.blocks.imports.search.boxResultLast <i class="fa fa-angle-double-right"></i>
                #end
            </a></li>
        #end
    #end
</ul>